# dependencies
node_modules/

# build output
dist/
release/
build/
out/

# electron-builder cache
*.log
.electron-builder/

# OS junk
Thumbs.db
desktop.ini
.DS_Store

# editors
.vscode/
.idea/
*.swp

# compiled Xeno core / native bridge build output
Xeno/bin/*.dll
Xeno/bin/*.exe
Xeno/bin/*.pdb
Xeno/bridge/build/
Xeno/host/build/
